<div class="global-wrapper">

  <mat-card class="main-wrapper">

    <div class="info-user-wrapper">
        <mat-card-title class="title-user">User name: {{user.name}}</mat-card-title>
        <mat-card-title class="title-user">Age: {{user.age}}</mat-card-title>
        <mat-card-title class="title-user">Email: {{user.email}}</mat-card-title>
    </div>

    <div class="button-wrapper">
      <button mat-button class="button" (click)="SignOut()">Sign out</button>
    </div>

  </mat-card>

</div>